body {
    padding: 0;
    font-family: 'Montserrat';
    font-size: 16px;
}

header {
    background-color: #252525;
    height: 70px;
    z-index: 2;
    width: 100%;
    padding: 50px auto;
    font-size: 14px;
}

/* Estilos para la barra de navegación */
a {
    color: #fff;
    text-decoration: none;
}

#logo {
    max-height: 60px;
    margin-top: 5px;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-img {
    max-height: 40px;
    margin-top: 5px;
}

#menu-img{
    max-height: 40px;
}

nav {
    margin: 0 20px;
}

nav a:hover {
    color: blue;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 15px;
}

@media (max-width: 768px) {
    .custom-navbar, #login-img, #login, .login-link  {
        display: none;
    }
}

@media (min-width: 767px) {
    #menu-img  {
        display: none;
    }
}

#search-icon{
    max-height: 30px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
/* -------------------- */
#cover img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
    padding: 0;
}

aside{
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.caja:hover {
    opacity: 0.8;
}

.auto {
    background-color: #f44336;
}

.moto {
    background-color: #2196f3;
}

.hogar {
    background-color: #4caf50;
}

.vida {
    background-color: #ff9800;
}

.comercio {
    background-color: #9c27b0;
}

.otros {
    background-color: #607d8b;
}


/* -------------------- */

#optimize img{
    height: 70px;
    max-height: 70px;
}

h2{
    padding: 10px;
    justify-content: center;
    text-align: center;
}

#optimize .article-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  height: 94%;
  max-height: 94%;
  text-align: center;
}

#optimize article:hover {
  transform: scale(1.05);
}

/* -------------------- */
#redes img {
    max-width: 40px;
    max-height: 40px;
    margin-left: 20px;
}

#insurance-companies .row{
    margin: 30px 80px;
    justify-content: center;
    align-items: center;
}

#insurance-companies img {
    max-width: 100%;
    height: 100px; 
    object-fit: contain; 
}

#insurance-companies img:hover {
    transform: scale(1.1);
  }

/* -------------------- */
footer {
    background-color: #252525;
    width: 100%;
    padding: 20px 0;
    font-size: 12px;
}


footer ul {
    display: flex;
}

footer p {
    color: #fff;
}

.ssn-img{
    max-height:40px;
}

#redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#redes img {
    max-width: 40px;
    max-height: 40px;
    margin-left: 20px;
}

footer #ssn p{
    font-size: 10px;
}

#ssn {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: center;
}

#redes img:hover {
    transform: scale(1.1);
  }
/* -------------------- */