header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }

  #logo {
    height: 50px;
  }

  nav {
    display: flex;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
  }

  #busqueda {
    display: flex;
    align-items: flex-end;
  }

  #busqueda input[type="text"] {
    padding: 10px;
    border: none;
    margin-right: 10px;
  }

  #busqueda button[type="submit"] {
    padding: 10px 15px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
  }

  #iniciar-sesion {
    padding: 10px 15px;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  /* -------------------------------------------------------------------------- */
  main {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
  }
/* -------------------------------------------------------------------------- */
  .section-1 {
    display: flex;
    align-items: center;
  }

  .imagen {
    width: 25%;
    height: auto;
  }

  .texto {
    width: 75%;
    padding-left: 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 0;
  }
/* -------------------------------------------------------------------------- */
#section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

#insurance-carousel {
  display: flex;
  overflow-x: scroll;
}

.insurance-icon {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.insurance-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* -------------------------------------------------------------------------- */

  footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      background-color: #333;
      color: #fff;
    }

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .left ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .left a {
      color: #fff;
      text-decoration: none;
      margin-right: 20px;
    }

    .copyright {
      margin-top: 10px;
    }

    .center {
      display: flex;
      align-items: center;
    }

    .center img {
      margin-right: 20px;
    }

    .right {
      display: flex;
      align-items: center;
    }

    .right img {
      width: 40px;
      height: 40px;
      margin-left: 20px;
    }